body,
input[type=text] {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
}

h1 {
    font-weight: 400;
}

footer {
    color: #999;
    font-size: .8em;
}

.pre::before {
    content: 'Done';
}

.todoForm input[type=submit] {
    display: none;
}

.todoForm input[type=text] {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
}

.todo-item {
    width: 200%;
}

.todo-item.done .theItem {
    background-color: #8bc34a;
    color: #fff;
}

.todo-item.done .theItem:hover {
    background-color: #9ccc65;
}

.todo-item.done .pre {
    background-color: #f5f5f5;
    color: #000;
}

.todo-item.done .pre::before {
    content: 'Not Done';
}

.todo-item .theItem {
    background-color: #f5f5f5;
    display: inline-block;
    margin: 0;
    padding: 1rem 1%;
    transition: background-color .4s;
    width: 48%;
}

.todo-item .theItem:hover {
    background-color: #eee;
}

.todo-item .post {
    background-color: #e53935;
    color: #fff;
    display: inline-block;
    padding: 1rem 1%;
    width: 22%;
}

.todo-item .pre {
    background-color: #8bc34a;
    color: #fff;
    display: inline-block;
    margin-left: -22%;
    padding: 1rem 1%;
    text-align: right;
    width: 20%;
}

.todo-item-list {
    list-style: none;
    overflow: hidden;
    padding-left: 0;
    touch-callout: none;
    user-select: none;
}
